{{ $pipe := .Pipe }}{{ $pipeName := .Name }}{{ $global := .Config }}

# {{ .Name }} - {{ $pipe.AFType }} pipe

{{ $pipe.AFType }} table {{ $pipe.ToTable }}_{{ $pipe.AFType }}

protocol pipe pipe_{{ $pipeName }}_{{ $pipe.AFType }} {
        table {{ $pipe.FromTable }};
        peer table {{ $pipe.ToTable }}_{{ $pipe.AFType }};
        import all;
        export filter {
                {{ range $i, $community := StringSliceIter $pipe.LargeCommunities }}
                if ({{$community}}) ~ bgp_large_community then {
                    accept;
                }
                {{ end }}
                {{ range $i, $community := StringSliceIter $pipe.StandardCommunities }}
                 if ({{$community}}) ~ bgp_community then {
                   accept;
                 }
                 {{ end }}
                reject;
        };
}